.bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

/*
 * Sidebar
 */

@media (min-width: 768px) {
  .sidebar .offcanvas-lg {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
  }
  .navbar-search {
    display: block;
  }
}

.sidebar .nav-link {
  font-size: .875rem;
  font-weight: 500;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar-heading {
  font-size: .75rem;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
}

.navbar_search {
  width: 20vw;
  height: 3.90vh;
  background-color: #252525;
  border: none; /* Remove default input border */
  border-radius: 10px; /* Adjust border-radius to make it rounder */
  padding: 0 10px; /* Add padding to provide some spacing inside the input */
  color: #7A7A7A; /* Set text color to white */
  font-family: 'Inter Regular';
  font-size: 1.17vh;
  background-image: url('assets/search-normal.svg');
  background-repeat: no-repeat;
  background-position: right 10px center; /* Adjust position of SVG */
  background-size: 20px; /* Adjust size of SVG */
  margin-right: 30.43vw;
}
